<template name="ModalUpdateFingers">
  <style> .modal { width: 95% !important ;height: 80% !important ;} </style>
  <div id="ModalUpdateFingers" class="modal fade" style="border-radius: 10px 10px;">
    <div align="right">
      <a class="modal-action modal-close btn-floating secondary-content waves-effect waves-green btn-flat" align="right">
        <i class="material-icons md-24">exit_to_app</i>
      </a>
    </div>
     <div class="modal-header" style=" color:#fff; padding:9px 15px; border-bottom:1px solid #eee; background-color: #3a4699;align:center">
       <h5>Actualizar / Agregar Huella Dactilar</h5>
     </div>
     <div class="modal-content">
       <div class="row">
         <div class="col s12 yellow lighten-5 black-text z-depth-2" style="padding:20px;border-radius: 10px 10px;">
           {{>TmplUpdateFingers}}
         </div>
       </div>
     </div>
   </div>
</template>
