<template name="webcam">
	<video id="video" width="100%" height="auto" autoplay></video>
	<!-- <div id="webcam" style="width:100%;height:auto">{{estatus}}</div> -->
  <canvas id="canvas" width="0" height="0" style="visibility: hidden;padding:0px;"></canvas>
	<!-- <button class="snap">  <i class="large material-icons">camera</i> </button> -->
  <a id="BtnCapture" class="snap btn-floating btn-large waves-effect waves-light cyan darken-1 {{disable}}"><i class="large material-icons">camera</i></a>
</template>
