<template name="encabezado">
      <div class="row">
        <div class="navbar-fixed" style="height: 100px;">
            <nav class="nav-wrapper blue lighten-1" style="height: 100px;" > <!--
              <div class="col l2 m2 s2 offset-l4 offset-m4 offset-s4">
                <div class="right">
                    <img src="/img/logo_compania.jpg" style="vertical-align:middle; height:42px; width:180px; margin-left:auto; margin-right:auto;" alt="Logo de la compañía">
                </div>
              </div>
              -->
              <div class="col l12 m12 s12">
                <div class="card-content center white-text small">
                  <img src="{{urlServicio}}/img/logo_automatiso.png" align="center" style="vertical-align:middle" height="100px" width="auto" alt="AutomatISO">
                </div>   <!--                          
                  <img src="{{urlServicio}}/img/logo_automatiso.png" style="height:60px; vertical-align:middle;" alt="Logo automatiso">  -->
              </div>
            </nav>          
        </div>
      </div>        
</template>