<template name="orionMaterializeCollectionsIndex_GXP">
  {{# Layout template=materializeHeader }}
  <i class="material-icons small">label_outline</i>Registros de Asistencia
  {{> tabularQuickHelp  collectionName=collection.title help=collection.help width='70%' }}
  {{/ Layout }} {{# Layout template=materializeContent }}
  <div class="floating-btn-onheader">
    <a href="{{ getParentPath }}" class="btn-floating btn-large waves-effect waves-light {{GetColorIconBack}} right">
      <i class="material-icons">reply</i>
    </a>
  </div>
  <div class="row">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="card-action collapsible-header flow-text roundallcorners" id="objetivos">
          <i class="material-icons">done_all</i>Búsqueda</div>
          <div class="collapsible-body white">
            <div class="card-content white" id="pic_div_obj" name="pic_div_obj">
              <div class="card-content black-text">
                {{>search_report}}
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="card-action collapsible-header flow-text roundallcorners" id="objetivos">
            <i class="material-icons">done_all</i>Datos</div>
            <div class="white lighten-5 black-text z-depth-2" style="padding:20px;border-radius: 10px 10px;">
              <div class="card green lighten-5 center">
                <div class="card-action green lighten-4 ">
                  <h6 class="flow-text">Registros de Asistencia</h6>
                </div>
                <div class="divider"></div>
                <div class="card-content white">
                  <div class="row no-padding" >
                    <div id="grafica_general" class="grafica_general" style="height:500px; width:100%;" ></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      {{/ Layout }}
      <script>
      $(document).ready(function(){
        $('.collapsible').collapsible();
      });
      </script>
    </template>
