<template name="tabularFilterReports">
  <div class="row" style="padding:10px;">
    <div class="col s6" style="padding:10px;">
      Fecha Inicial
      <input type="text" name="fechaInicio" id="fechaInicio" class="form-control floating-label" placeholder="Fecha Inicial">
      </div>

      <div class="col s6" style="padding-left:10px;padding-top:10px;padding-bottom:10px">
        Fecha Final
        <input type="text" name="fechaFin" id="fechaFin" class="form-control floating-label" placeholder="Fecha Final">
        </div>

      </div>
    </template>
