<template name="new_device">
<div id="tabular_table_analysis" class="modal fade" style="border-radius: 10px 10px;">
  <div class="modal-header" style=" color:#fff; padding:9px 15px; border-bottom:1px solid #eee; background-color: #73558c;align:center">
    <h5>Nuevo Dispositivo Biometrico Encontrado</h5>
  </div>
  <div class="modal-content">
    <div class="row">
      <div class="col s12 yellow lighten-5 black-text z-depth-2" style="padding:20px;border-radius: 10px 10px;">
        Seleccione la localidad a asociar al Dispositivo
        <select id="LocationSelectX">
          <option value="" disabled selected>Seleccione una opción x</option>
        </select>
        <br><br>
        <div class="row">
          <div class="col s6">
            <a class="btn waves-effect waves-light btn-excel light-blue accent-4"><i class="material-icons right">save</i>Guardar</a>
          </div>
          <div class="col s6">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
